  <section class="container">

      <!-- Left Column / Headphones Image -->
      <div >
          <img  src="/product-images/{{this.product._id}}.jpg" alt="" class="productImage fadeInDown" style="position: ;">
      </div>
        
        
     


      <!-- Right Column -->
      <div class="fadeInDown" style="POSITION: relative;left: 300px;top: 74px;">

        <!-- Product Description -->
        <div class="product-description">
          <span>{{this.product.Category}}</span>
          <h1>{{this.product.Name}}</h1>
          <p>{{this.product.Description}}</p>
        </div>

        <!-- Product Configuration -->
        <div class="product-configuration">

          <!-- Product Color -->
          <div class="product-color">
            <span>Available offers</span>

            <div class="color-choose">
             <span>Bank Offer5% Unlimited Cashback on Flipkart Axis Bank Credit Card</span>
             <span>Bank Offer15% Instant discount on first Pay Later order of ₹500 and above</span>
             <span>Partner OfferBuy and Get Free 6 months Gaana Plus Subscription</span>
             <span>No Cost EMI on Bajaj Finserv EMI Card on cart value above ₹2999</span>
            </div>

          </div>

          <!-- Cable Configuration -->
          <div class="cable-config">
            

            <div class="cable-choose">
              
            </div>

            
          </div>
        </div>

        <!-- Product Pricing -->
        <div class="product-price">
          <span>₹{{this.product.Price}}</span>
          <a href="#" class="cart-btn cartBtn" onclick="addToCart('{{this.product._id}}')" style="text-decoration: none;">Add to cart</a>
        </div>
      </div>
    </section>